@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.grey-qo-font {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

/* common styles */
* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: #000000;
}

.logo-name {
    color: #e6533c;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.primary-btn {
    border: none;
    border-radius: 46px;
    background: #e6533c;
    padding: 8px 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.download-app-btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
    background: transparent;
    color: #FFFFFF;
}

.section-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.section-description {
    color: #ffffff80;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.card-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.card-description {
    color: #ffffff80;
    font-size: 14px;
    font-weight: 400;
}

/* ----------------------Header styles---------------------- */
/* header styles */
.header-section {
    padding-top: 57px;
    height: 715px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

/* navbar styles */
.navbar {
    display: flex;
}

.navbar ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.navbar ul {
    display: flex;
    border: 1px solid #ffffff1a;
    border-radius: 39px;
    padding: 4px;
    gap: 46px;
    justify-content: center;
    align-items: center;
}

/* banner styles */
.banner-section {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 32px;
}

.banner-text {
    text-align: left;
}

.banner-title {
    color: #ffffff;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
}

.banner-description {
    color: #ffffff80;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 28px 0;
}

.workout-videos-card {
    box-sizing: border-box;
    border: 1px solid #ffffff1a;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: #ffffff1a;
    position: absolute;
    width: 180px;
    height: 100px;
    left: 1090px;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workout-videos-card h1 {
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.workout-videos-card p {
    color: #ffffffa6;
    font-size: 13px;
    font-weight: 400;
}

.video-tutorial-card {
    border: 1px solid #ffffff1a;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: #3030308a;
    display: flex;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 100px;
    left: 760px;
    top: 500px;
}

.video-tutorial-card .red-circle {
    width: 40px;
    height: 40px;
    background: #e6533c;
    border-radius: 50%
}

.video-tutorial-card-text {
    text-align: left;
}

.video-tutorial-card-text h1 {
    color: #fafaf9;
    font-size: 24px;
    font-weight: 900;
}

.video-tutorial-card-text p {
    color: #efede8a6;
    font-size: 16px;
    font-weight: 400;
}

/* ---------------------main styles------------------------------  */


/* change your habits section styles */
.change-your-habits {
    max-width: 1060px;
}

.change-your-habits-text {
    text-align: center;
}

.habits {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.habits-card {
    text-align: center;
}

.habits-card img {
    border-radius: 50%;
    margin-bottom: 30px;
}

/* run extra mile section styles */
.run-extra-section {
    border-radius: 18px;
    background: #222222;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 54px;
    padding-right: 32px;
    max-width: 1060px;
}

.run-extra-section img {
    border-radius: 18px;
    width: 366px;
    height: 312px;
}

/* bmi calculator section styles */
.bmi-calculator-text-container {
    display: flex;
    justify-content: center;
}

.bmi-calculator-text {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 85px;
}

.bmi-calculation-area {
    background: #222222;
    padding: 52px 0;
}

.bmi-calculation-content {
    max-width: 1060px;
    display: flex;
    gap: 175px;
}

.bmi-calculator-chart-title {
    color: #ffffff;
    font-weight: 900;
    font-size: 28px;
}

table.bmi-chart-table {
    text-align: left;
    margin: 40px 0 0 0;
    padding: 10px;
    border-collapse: collapse;
    width: 320px;
    height: 220px;
}

table.bmi-chart-table tr,
td,
th {
    border: 1px solid #626262;
    padding: 10px;
}

.bmi-chart-table th {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.bmi-chart-table td {
    color: #8b8b8b;
    font-weight: 400;
    font-size: 14px;
}

.calculate-bmi-container .calculate-bmi-description {
    color: #ffffff80;
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 34px;
}

.bmi-calculation input,
select,
option {
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #383838;
}

.bmi-calculation input,
select {
    color: #ffffff99;
    font-size: 16px;
    font-weight: 400;
}
.bmi-calculation .row-1,.row-2{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.bmi-calculation .row-3{
    margin-bottom: 24px;
}
/* meet our team section styles */
.meet-our-team-section {
    max-width: 1060px;
}

.meet-our-team-text {
    margin-top: 80px;
    margin-bottom: 55px;
    text-align: center;
}

.meet-our-team-members {
    border-radius: 18px;
    background: #ffffff1a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.members-card-text {
    position: relative;
    top: 220px;
    right: -16px;
}

.meet-our-team-members .members-card-1 {
    border-radius: 18px;
    background-image: url(../images/trainer1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 272px;
}

.meet-our-team-members .members-card-2 {
    border-radius: 18px;
    background-image: url(../images/trainer2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 272px;
}

.meet-our-team-members .members-card-3 {
    border-radius: 18px;
    background-image: url(../images/trainer3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 272px;
}

.meet-our-team-members .members-card-4 {
    border-radius: 18px;
    background-image: url(../images/trainer4.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 272px;
}

.meet-our-team-members .members-card-5 {
    border-radius: 18px;
    background-image: url(../images/trainer5.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 272px;
}

.meet-our-team-members .members-card-6 {
    border-radius: 18px;
    background-image: url(../images/trainer6.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 272px;
}

/* footer styles */
footer {
    background: #ffffff1a;
    margin-top: 88px;
}

.footer-content {
    max-width: 1060px;
    padding-top: 66px;
    display: flex;
    align-items: center;
}

.footer-description {
    margin-top: 20px;
}

.get-started-title {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.get-started-1>ul,
.get-started-2>ul {
    padding: 0;

}

.get-started-1>ul>li,
.get-started-2>ul>li {
    list-style: none;
    margin-bottom: 20px;
}

.get-started-1>ul>li>a,
.get-started-2>ul>li>a {
    color: #ffffff80;
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
}

hr {
    width: 1050px;
    border: 2px solid #ffffff1a;
}

.copyright-title {
    color: #ffffff80;
    font-size: 20px;
    font-weight: 400;
    margin-top: 36px;
    text-align: center;
}