@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.grey-qo-font {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

/* common styles */
* {
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background: #000000;
}
.primary-btn {
    border: none;
    border-radius: 46px;
    background: #e6533c;
    padding: 8px 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.download-app-btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
    background: transparent;
    color: #FFFFFF;
}

.section-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.section-description {
    color: #ffffff80;
    font-size: 14px;
    font-weight: 400;
}

/* ----------------------Header styles---------------------- */
/* header styles */
.header-section {
    height: 715px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

/* navbar styles */
.navbar {
    display: flex;
}

.navbar .logo-name {
    color: #e6533c;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.navbar ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.navbar ul {
    display: flex;
    border: 1px solid #ffffff1a;
    border-radius: 39px;
    padding: 4px;
    gap: 46px;
    justify-content: center;
    align-items: center;
}

/* banner styles */
.banner-section {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 32px;
}

.banner-text {
    text-align: left;
}

.banner-title {
    color: #ffffff;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
}

.banner-description {
    color: #ffffff80;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 28px 0;
}

.workout-videos-card {
    box-sizing: border-box;
    border: 1px solid #ffffff1a;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: #ffffff1a;
    position: absolute;
    width: 180px;
    height: 100px;
    left: 1090px;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workout-videos-card h1 {
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.workout-videos-card p {
    color: #ffffffa6;
    font-size: 13px;
    font-weight: 400;
}

.video-tutorial-card {
    border: 1px solid #ffffff1a;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: #3030308a;
    display: flex;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 100px;
    left: 760px;
    top: 500px;
}

.video-tutorial-card .red-circle {
    width: 40px;
    height: 40px;
    background: #e6533c;
    border-radius: 50%
}

.video-tutorial-card-text {
    text-align: left;
}

.video-tutorial-card-text h1 {
    color: #fafaf9;
    font-size: 24px;
    font-weight: 900;
}

.video-tutorial-card-text p {
    color: #efede8a6;
    font-size: 16px;
    font-weight: 400;
}

/* ---------------------main styles------------------------------  */

/* change your habits section styles */
.change-your-habits-text {
    text-align: center;
}
.habits{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.habits-card{
    text-align: center;
}
.habits-card img{
    border-radius: 50%;
    margin-bottom: 30px;
}
.habits-card .habits-card-text .habits-card-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.habits-card .habits-card-text .habits-card-description {
    color: #ffffff80;
    font-size: 14px;
    font-weight: 400;
}